<!DOCTYPE html>
<html>
<head>
	<% for (var chunk in htmlWebpackPlugin.files.css) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
	<% } %>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
	<% } %>
	<meta charset="utf-8">
	<title>Memento</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="description" content="Memento">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="Memento">
	<meta name="application-name" content="Memento">
	<meta name="format-detection" content="telephone=no">
	<meta name="theme-color" content="#673ab8">
	<link rel="manifest" href="./manifest.json">
	<!-- automatic polyfilling -->
	<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
	<!-- pulling from CDN because these don't integrate into webpack/browserify well. -->
	<script src="http://www-cs-students.stanford.edu/~tjw/jsbn/jsbn.js"></script>
	<script src="http://www-cs-students.stanford.edu/~tjw/jsbn/jsbn2.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sjcl/1.0.0/sjcl.min.js"></script>
	<!-- if I wasn't using rest of AWS SDK, I'd do this: -->
	<!--  <script src="https://gitcdn.xyz/repo/aws/amazon-cognito-identity-js/master/dist/aws-cognito-sdk.min.js"></script> -->
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.3.5.min.js"></script>
	<script>
	window.AWSCognito = window.AWS
	</script>
	<script src="https://gitcdn.xyz/repo/aws/amazon-cognito-identity-js/master/dist/amazon-cognito-identity.min.js"></script>
</head>
<body></body>
</html>
